body{
  background-image: url('../img/hotelBackground.jpg');
}

.header {
  padding: 5px;
  text-align: center;
  background: rgb(1, 121, 109);
  color: white;
  font-size: 30px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  position: relative;
  left: 30px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.footer{
  padding: 20px;
  text-align: center;
  background: black;
  color: white;
  font-size: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
}
